.add-note-main {
    background: #fff;
    max-width: 598px;
    margin: 32px auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid #e0e1e0;
    border-radius: 8px;
  }

  .input-with-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    color: #5f6368;
    padding: 16px;
  }

  .note-text {
    flex-grow: 1;
    border: none;
    font-size: 1rem;
    height: 100%;
    margin-right: 16px;
  }

  .note-text:focus {
    outline: none;
  }

.note-input-btn {
        cursor: pointer;
        height: 40px;
        width: 40px;
        background: none;
        border: none;
}
.note-input-btn:hover {
background-color: lightgray;
border-radius: 50%;
transition: background-color 300ms;
}

.active-input-btn {
  background-color: lightgray;
border-radius: 50%;
}