.note-edit-input {
  display: flex;
  background: #fff;
  padding: 16px;
  margin: 32px auto;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #e0e1e0;
  border-radius: 8px;
}
.note-edit-input:focus {
  outline: none;
}

.note-btn-edit {
  padding: 8px;
  border: 1px solid #e0e1e0;
  color: black;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s ease;
}

.note-btn-edit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
