.note-list > * {
  break-inside: avoid;
}

.note-list {
  column-count: 3;
}

.note {
  max-width: 280px;
  margin: 1em;
  padding: 1em;
  border-radius: 6px;
}

.note-title {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.note-txt {
  padding-bottom: 20px;
}

.note .note-btns {
  opacity: 0;
  transition: 200ms ease;
}
.note:hover .note-btns {
  opacity: 1;
}

.note-btns {
  text-align: right;
}

.note-btn {
  cursor: pointer;
  background: none;
  border: none;
}
