/* helpers */
.clean-ul {
    list-style-type: none;
}

.hidden {
    display: none;
}


/* operations-bar */

.operations-bar .material-symbols-outlined {
    font-size: 1rem;
    cursor: pointer;
}

/* mail-preview */
.mail-preview {
    display: flex;
    align-items: center;
    height: 2.125rem;
}

.mail-preview-text-contents {
    display: grid;
    grid-template-columns: minmax(0, max-content) 1fr;
}

.subject,
.body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sentAt {
    justify-self: end;
    padding-inline-start: 28px;
    padding-inline-end: 16px;
}

.unread {
    font-family: Roboto-Bold;
    background-color: #f2f6fc;

}


.mail-font-regular {
    font-family: Roboto-Regular;
}


/* mail-List */
.mail-list {
    display: grid;
    grid-template-columns: 1fr;
    font-size: .875rem;
    overflow: hidden;
}

/* mail previews */
.list-row {
    display: grid;
    grid-template-columns: 200px 1fr max-content;
    gap: none;
    align-items: center;
    box-shadow: inset 0px -1px 0px 0px #eceff1;
}

.list-row .unread {
    box-shadow: inset 0px -1px 0px 0px #e1e7ee;
}

.list-row:hover {
    .operations-bar {
        justify-self: end;
        display: grid;
        padding-inline-start: 28px;
        padding-inline-end: 16px;
        gap: 1.75rem;
        grid-auto-flow: column;
    }
}

.list-row:hover> :nth-child(3) {
    display: none;
}


/* mail index */
.mail-index {
    font-family: Roboto-Regular;
}