header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 0.875rem;
    position: relative;
}

.app-header button {
    width: 32px;
    height: 32px; 
    border-radius: 20px;

}

.apps-icon {
    background: none;
    color: #5f6368;
}

.apps-icon:hover {
    background-color: #e8eaed;
}

.user-icon{
    background-color: #689f38;
    color: white;
    font-family: Roboto-Regular;
}

.user-icon:hover {
    outline: #e8eaed solid 3px;
}




/* nav a:active {
    color: purple;
} */

/* nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}  */

.main-nav {
    /* display: none; */
    background-color: #689f38;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    right: 0;
}
